body {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/e/ed/Nyan_cat_250px_frame.PNG');
  height: 200vh;
}

.nav {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  backdrop-filter: blur(10px);
}

.nav > * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  /* color: white; */
  margin: 0;
  padding: 10px 0;
}

.navlist {
  list-style-type: none;
  margin: auto;
  /* padding: 0; */
  /* overflow: hidden; */
  /* background-color: #000000; */

  /* height: 50px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 5;
}

.item {
  /* float: right; */
  /* color: red; */
  display: block;
  /* color: white; */
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  transition: color 0.4s;
  color: #bfbfbf;
}

.item:hover {
  /* background-color: #3d3d3d; */
  cursor: pointer;
  /* border: 1px solid red; */
  /* border-radius: 30px; */
  color: white;
}

.name {
  font-size: 1.7em;
  font-weight: 350;
  margin: none;
  padding-left: 15px;
  color: white;
}
